*{
    margin: 0;
    padding: 0;
}
.body{
    height: 100%;
}
.header {
   
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
    margin-bottom: 150px;
}
.navbar {
    width: 100%;
    height: 90px;
box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
background-color: #339657;


}

.navbar .container {
    height: inherit;
    display: flex;
    
    align-items: center;
   
}

.navbar-menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.navbar-menu li {
    display: inline-block;
    margin-right: 50px;
   
}
.navbar-menu li a{
   
    display: inline-block;
    color: white;
  
    text-decoration: none;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}
.navbar-menu li a:hover{
    opacity: 0.9;
    color: #000;
}

.navbar-wrap{
    display: flex;
    flex-flow: row nowrap;
}

.join {
    margin-left: 30px;
    padding: 10px 30px;
    background-color: #EEEEEE;
    border-radius: 100px;
    color: #000;
    text-decoration: none;
    transition: all .1s ease-in-out;
}
.join:hover {
    transform: scale(1.04);
  color: #000;
}

.navbar-logo a{
    margin-left: 150px;
    width:140px; 
    height: 75px;
    float: left;
    margin-right: 500px;

    
}


.main {
  margin-left: 150px;
  margin-right: 150px;
  height: 500px;
  flex: 1 1 auto;
}
.text {
    /*background-color: blue;*/
    width: 47%;
    float: left;
    
}

.ptext1{
    margin-bottom: 25px;
}
.spantext1{
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 60px;
    font-weight: 400px;
   
}
.spantext2{
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 70px;
  
}
.spantext3
{font-family: 'Noto Sans', sans-serif;
    font-size: 26px;
    color: #656565;
    margin-bottom: 60px;
}
.img {
    /*background-color: red;*/
    width: 45%;
    float: right;
}
.img1{
    border-radius: 20px;
    width: 480px;
    height: 350px;
    margin-bottom: 35px;
}
.text1m {
    
    padding: 10px 30px;
    background-color: #EEEEEE;
    border-radius: 100px;
    color: #000;
    text-decoration: none;
    transition: all .1s ease-in-out;
    width: 200px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #000;
    text-align: center;
}

.text-email{
    padding: 12px;
    width: 400px;
    border: 1px solid #EEEEEE   ;
    background-color: #D9D9D9;
    font-weight: 100;
    outline:none;
    border-radius: 15px;
    appearance: none;
    font-size: 18px;
    color: black;
}
::placeholder {
    color: 	#888888;
}

.about-section{
    background-color: #262626;
    height: 150px;
    width: 100%;
    margin-bottom: 125px;
}

.text-about-left {
    color: white;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
   font-size: 80px;
    
   width: 45%;
   font-weight: bold;

text-align: center;
float: left;
}
.text-about-right {
    color: white;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
   font-size: 20px;
    margin-right: 150px;
   width: 40%;
   font-weight: bold;

text-align: center;
float: right;
}

.name {
    margin-top: 50px;
    margin-top: auto;
    justify-content: center;
    display: flex;
    text-align: center;
}
.info {
    margin-top: 50px;
    justify-content: center;
    display: flex;
    text-align: center;

}

.main2 {
    margin-left: 150px;
    margin-right: 150px;
    height: 1707px;
  }

  .textm2 {
    /*background-color: blue;*/
    width: 47%;
    float: right;
    height: 569px;
    
}

.ptext1m2{
    margin-bottom: 25px;
}
.spantext1m2{
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 45px;
  
   
}
.spantext2m2{
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 70px;
  
}
.spantext3m2
{font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    color: #656565;
    margin-bottom: 60px;    
}
.imgm2 {
    /*background-color: red;*/
    margin-left: 100px;
    float: left;
}
.img1m2{
    border-radius: 20px;
    width: 520px;
    height: 530px;
    margin-bottom: 35px;
}
.text1mm2 {
    
    padding: 10px 30px;
    background-color: #EEEEEE;
    border-radius: 100px;
    color: #000;
    text-decoration: none;
    transition: all .1s ease-in-out;
    width: 200px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #000;
    text-align: center;
}

.more {
  
    padding: 20px 40px;
    background-color: #339657;
    border-radius: 100px;
    color: #EEEEEE;
    text-decoration: none;
    transition: all .1s ease-in-out;
    float: left;
    font-size: 24px;
}
.more:hover {
    transform: scale(1.04);
  color:  #c5c1c1;
}

.textm3 {
    /*background-color: blue;*/
    width: 47%;
    float: left;
    height: 569px;
    margin-left: 95px;
    
}

.ptext1m3{
    margin-bottom: 25px;
}
.spantext1m3{
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 45px;
  
   
}
.spantext2m2{
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 70px;
  
}
.spantext3m3
{font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    color: #656565;
    margin-bottom: 60px;    
}
.imgm3 {
    /*background-color: red;*/
    margin-left: 100px;
    float: right;
}
.img1m3{
    border-radius: 20px;
    width: 520px;
    height: 530px;
    margin-bottom: 35px;
}
.text1mm3 {
    
    padding: 10px 30px;
    background-color: #EEEEEE;
    border-radius: 100px;
    color: #000;
    text-decoration: none;
    transition: all .1s ease-in-out;
    width: 200px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #000;
    text-align: center;
    
}

.textm4 {
    /*background-color: blue;*/
    width: 47%;
    float: right;
    height: 569px;
    margin-left: 55px;
    
}

.ptext1m4{
    margin-bottom: 25px;
}
.spantext1m4{
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 45px;
  
   
}
.spantext2m4{
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 70px;
  
}
.spantext3m4
{font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    color: #656565;
    margin-bottom: 60px;    
}
.imgm4 {
    /*background-color: red;*/
    margin-left: 100px;
    float: left;
}
.img1m4{
    border-radius: 20px;
    width: 520px;
    height: 530px;
    margin-bottom: 35px;
}
.text1mm4 {
    
    padding: 10px 30px;
    background-color: #EEEEEE;
    border-radius: 100px;
    color: #000;
    text-decoration: none;
    transition: all .1s ease-in-out;
    width: 200px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #000;
    text-align: center;
    
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

}
footer {
    color: #D9D9D9;
    background: #262626;
    padding-top: 50px;
    font-family: 'Noto Sans', sans-serif;
}

.container-foot{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer {
    width: 33.3%;
    
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;

}
.footer-content ul {
    text-align: center;
}
.list {
    padding: 0;
}
.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
    color:#c5c1c1;
}
.list a{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
    color:#c5c1c1;
    text-decoration: none;
}
.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: #339657;
    transition-duration: .5s ;
}
.list li:hover::before {
    width: 70px;
}
.bottom-bar {
    background: #339657;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
.bottom-bar p {
    color: #c5c1c1;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}